</head>
<body>
  <nav>
    <i><img src="/public/Images/view-of-a-low-flying-plane-above.jpg" alt=""></i>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >ADD Flight</a>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >ALL Flights</a>
  </nav>