<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="../public/sylesheets/style.css">
<main>
  <h1><%= title %></h1>
  <a href="/flights/new">Add a Flight!</a>
  <a href="/flights">Show me all the Flights!</a>
</main>

<%- include("./partials/footer") %>