<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/css/flights/new.css" />
<%- include('../partials/nav') %>

<main>
 
  <form id="new-form" action="/flights" method="POST">
    <h1><%= title %></h1>
    <label for="route-input">Route:</label>
    <input type="text" name="route" id="route-input">


    <label for="flightNum-input">Flight Num:</label>
    <input type="number" name="flightNum" id="flightNum-input">


    <label for="airline-select">Airline</label>
    <select name="airline" id="airline-select">
      <option value="Ariana">Ariana</option>
      <option value="KamAir">KamAir</option>
      <option value="Bakhtar">Bakhtar</option>
      <option value="Turkish">Turkish</option>
    </select>

    <label for="airport-select">Airport</label>
    <select name="airport" id="airport-select">
      <option value="KBL">KBL</option>
      <option value="HRT">HRT</option>
      <option value="BLK">BLK</option>
      <option value="DBX">DBX</option>
    </select>

    
    
    <label for="departs-input">Departs</label>
    <input type="datetime-local" name="departs" id="departs-input">
  

    <button type="submit">Add FLight</button>
  </form>
</main>

<%- include("../partials/footer") %>